body {
  box-sizing: border-box;
  background-color: #F6F8F9;
  max-width: 100vw; 
}

button {
  margin-top: 2rem;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  margin-left: 0.7rem;
  cursor: pointer;
  border: none;
  background-color: #ffa2a2;
}

#app {
  text-align: center;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}